@import './macros.scss';

.chart-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 16px auto 16px auto;
  justify-content: flex-end;
  position: relative;
  background-color: white;
  margin: 16px 0;
  border-bottom: solid 1px $border-gray;
  align-items: center;
  .info {
    @include grid-position(2, 1, 1, 8);
    span {
      font-size: 12px;
      color: $text-gray;
      margin-right: 12px;
      cursor: pointer;
      &.pending {
        &:first-child {
          margin-left: 16px;
          &::before {
            background-color: red;
          }
        }
        &::before {
          display: inline-block;
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 8px;
          background-color: $dashbird-blue;
          margin-right: 4px;
        }
      }
      &.extra {
        color: $dashbird-blue;
        span.anticon {
          color: $dashbird-blue;
          margin-right: 0;
        }
      }
      
    }
  }
  .selection {
    display: flex;
    align-items: center;
    justify-self: end;
    @include grid-position(2, 1, 9, 4);
    color: $dashbird-blue;
    margin-right: 16px;
    font-size: 12px;
    .date-picker {
      margin-left: 16px;
      .anticon-calendar {
        margin-right: 4px;
      }
      cursor: pointer;
    }
  }
  .all-data {
    @include grid-position(4, 1, 1, 12);
  }
}