@import "./macros.scss";

.information {
  display: flex;
  margin-top: 8px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .information-column-heading {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: left;
    color: $text-gray;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }
  div.info-column {
    flex: 1 0 30%;
    &:nth-child(2) {
      margin: 0 8px;
      @media (max-width: 768px) {
        margin: 0;
      }
    }
  }
}
